html{
  font-family: arial,Helvetica,Verdana,sans-serif;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-image: url("../woods.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
body::-webkit-scrollbar {
    display: none !important;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.nest_back {
    min-height: 400px;
    height: 100%;
    width: 710px;
    margin-right: 10px;
    amargin: 20 20 20 20;
}

.timeDiv {
  color: white;
  background-color:rgba(0, 0, 0, 0.5);
  amin-height: 360px;
  width: 90%;
  height: 100%;
  apadding: 20px;
  amargin-left: 20px;
}
.centerDiv {
    margin: auto;
    width: 80%;
    apadding: 10px;
}
.clock {
  font-size: 50px;
}
.day {
  font-size: 30px;
  display:inline-block;
}
.weather {
  color: white;
  abackground-color:rgba(0, 0, 0, 0.5);
  apadding: 20px;
  amargin: 20 20 20 20;
  afloat: left;
  font-size: 30px;
  display:inline-block;
}
.te_table {
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
}

.te_columnHeaders {
    text-shadow: none;
    /*color: #555;*/
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed',sans-serif;
    letter-spacing: .0357em;
    line-height: normal;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.te_dateRow {
  background-color: #DDD;
  background: linear-gradient(to bottom,#EEE 0,#DDD 100%);
  white-space: nowrap;
  padding-top: 2px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: none;
    color: #555;

    text-transform: uppercase;
    font-family: 'Open Sans Condensed',sans-serif;
    letter-spacing: .0357em;
}

.te_time {
  width: 80px;
  border-bottom: solid white 1px;
  background-color: #dae7f5;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

.te_content {
  padding-left: 10px;
  padding-right: 10px;
  background: white;
}

.flickr {
  amargin: 0 20 20 20;

  position: relative;
  color: white;
  margin-top: 10px;
}

.flickr img {
  amax-height: 450px;
  amax-width: 400px;
}

.date_taken {
  position: absolute;
  bottom: 20px;
  right: 16px;
  font-size: 20px;
}
.vasttrafik{
  margin-top: 10px;
}
.bussRow{
    display: table;
    atable-layout: fixed;
    width: 100%;
    amargin-left: 20px;
    amargin-right: 50px;
}
.bussLine {
    display: table-cell;
    background-color:rgba(65,105,225, 1);
    padding: 10px;
    width: 50px;
    height: 20px;
    color: white;
    font-size: 30px;
}
.bussName {
    display: table-cell;
    background-color:rgba(0, 0, 0, 0.8);
    padding: 10px;
    awidth: 860px;
    height: 20px;
    color: white;
    font-size: 30px;
}
.bussTime {
    display: table-cell;
    background-color:rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 80px;
    height: 20px;
    color: white;
    font-size: 30px;
}
